@{
    ViewBag.Title = "Marketing";
}
<style>
    html {
        overflow: auto;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .widget {
        margin-bottom: 5px !important;
    }

    .widget-body {
        padding: 5px 5px 1px 5px !important;
    }

    .fixed-table-pagination div.pagination, .fixed-table-pagination .pagination-detail {
        margin-top: 5px !important;
        margin-bottom: 0px !important;
    }
</style>

<div id="page-wrapper">
    <!--BEGIN CONTENT-->
    <div class="page-content">
        <div id="tab-general">
            <div class="row mbl">
                <div class="col-lg-12">
                    <div class="col-md-12">
                        <div id="area-chart-spline" style="width: 100%; height: 300px; display: none;">
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div id="main-content">
                        <div class="container-fluid">
                            <p>
                                <a class="btn btn-primary" style="margin-left:2px;" onclick="downloadFile()"><i class="icon-download-alt"></i><span translate>Export</span></a>
                                <a class="btn btn-primary" style="margin-left:2px;" onclick="downloadByClueReportFile()"><i class="icon-download-alt"></i><span translate>Export Clue Report Excel</span></a>
                            </p>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="widget">
                                        <div class="widget-title">
                                            <h4><i class="icon-reorder"></i><span translate>Marketing Events List</span></h4>
                                            <span class="tools">
                                                <a href="javascript:;" class="icon-chevron-down" onclick="ShowDiv()"></a>
                                            </span>
                                        </div>
                                        <div class="widget-body" style="display: block;">
                                            <form   class="form-horizontal bv-form ng-pristine ng-valid" id="PromotionCreate1" novalidate="novalidate">
                                                <input id="MarketActionId " name="MarketActionId " type="hidden" value="" />
                                                <div class="row" id="ActiveShow" style="display:none">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4"><span translate>Promotion State</span><span class="required" style="color:red">*</span>:</label>
                                                            <div class="col-md-4">
                                                                <select id="MarketActionStatusCode" name="MarketActionStatusCode" class="selectpicker"></select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4"><span translate>Event Name</span><span class="required" style="color:red">*</span>:</label>
                                                            <div class="col-md-8">
                                                                <input class="form-control" id="ActionName" name="ActionName" maxlength="255" style="width:100%;" type="text" value="" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4"><span translate>Event ID</span><span class="required" style="color:red">*</span>:</label>
                                                            <div class="col-md-8">
                                                                <input class="form-control" id="ActionCode" name="ActionCode" maxlength="255" style="width:100%;" type="text" value="" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4"><span translate>Dealer Name</span>:</label>
                                                            <div class="col-md-8">
                                                                <select id="ShopId" name="ShopId" class="selectpicker"></select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4"><span translate>Event Type</span>:</label>
                                                            <div class="col-md-8">
                                                                <select id="EventTypeId" name="EventTypeId" class="selectpicker"></select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4"><span translate>Main Models</span><span class="required" style="color:red">*</span>:  </label>
                                                            <div class="col-md-4">
                                                                <select id="MarketActionTargetModelCode" name="MarketActionTargetModelCode" class="selectpicker"></select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">

                                                        <div class="form-group">
                                                            <label for="StartDate" class="col-md-2 control-label"><span translate>By Date</span><span class="required" style="color:red">*</span>:</label>

                                                            <div class="col-md-2" style="margin-right:-5px;">
                                                                <input class="form-control form_date" data-val="true" data-val-date="The field StartDate must be a date." id="StartDate" name="StartDate" maxlength="255" style="width:100%;" type="text" value="" />
                                                            </div>
                                                            <span style="float:left;padding-top:5px;padding-left:2px;margin-right:-1px;"> - </span>
                                                            <div class="col-md-2" style="margin-left:0px;">
                                                                <input class="form-control form_date" data-val="true" data-val-date="The field EndDate must be a date." id="EndDate" name="EndDate" maxlength="255" style="width:100%;" type="text" value="" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4"><span translate>Event Venue</span>:</label>
                                                            <div class="col-md-8">
                                                                <textarea class="form-control" cols="20" id="Venue" name="ActionPlace" maxlength="255" rows="2" style="width:100%;height:60px;"></textarea>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--END CONTENT-->
                </div>
            </div>
        </div>
    </div>
    <!--END CONTENT-->
    <!--BEGIN FOOTER-->

    <div id="footer" style="display:none">
        <div class="copyright">
            <table></table>
        </div>
    </div>
    <!--END FOOTER-->
</div>